version: '3.8'

services:
  weather-app:
    build: .
    container_name: weather-app
    ports:
      - "8080:80"
    restart: always

  db:
    image: postgres:15-alpine
    container_name: weather-db
    restart: always
    environment:
      POSTGRES_USER: POSTGRES_USER
      POSTGRES_PASSWORD: POSTGRES_PASSWORD
      POSTGRES_DB: POSTGRES_DB
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"

volumes:
  db_data: